@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", sans-serif;
}

.navbar-brand {
  display: flex;
  gap: 32px;
}
.navbar-brand .hr {
  height: 38px;
  background: #BCBBBC;
  width: 1px;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #E6E6E6;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.08);
}

main {
  position: relative;
}
main::before {
  content: url("imgs/bg.png");
  position: absolute;
  right: 0;
  top: -160px;
  z-index: -1;
}

main .container {
  margin-block: 160px;
}

.section-header {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
  align-items: start;
}

.section-title {
  color: #016392;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.section-subtitle {
  color: #016392;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

#timelineTab {
  display: flex;
  border-radius: 8px;
  border: 1px solid #C6CCD3;
  gap: 4px;
  width: 100%;
  padding: 4px;
}
#timelineTab .nav-link {
  width: 100%;
  flex: 1 0 0;
  color: #016392;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  padding: 16px;
}
#timelineTab .nav-link.active {
  background-color: #016392;
  color: white;
}
#timelineTab .nav-link[disabled] {
  color: black;
  opacity: 0.5;
}

.footer-wrapper {
  background: linear-gradient(180deg, #009DDE 0%, #005578 100%);
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.footer-wrapper .footer-logos .container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.footer-wrapper .footer-text .container {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

.card {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  background: #FFF;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.08);
}
.card .card-body {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.table-desktop {
  width: 100% !important;
  font-size: 16px;
  line-height: 24px;
  margin: 0 !important;
}
.table-desktop thead th {
  color: #016392 !important;
  font-weight: 500;
  line-height: 24px;
  border-color: #016392;
}
.table-desktop tbody tr:nth-child(odd) th,
.table-desktop tbody tr:nth-child(odd) td {
  background-color: #F8F8F9;
}
.table-desktop tbody th,
.table-desktop tbody td {
  color: #5A6673 !important;
  border-color: #E2E6E9;
}
.table-desktop tbody th {
  font-weight: 700;
}
.table-desktop tbody td {
  font-weight: 400;
}

.table-mobile th {
  color: #016392;
}
.table-mobile thead th {
  text-align: center;
}
.table-mobile tbody th {
  font-weight: 400;
  width: 25%;
}
.table-mobile tbody td {
  color: #333;
}
.table-mobile tbody * {
  font-size: 14px;
}

.tab-content {
  width: 100%;
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0.5rem;
}
.card-buttons select {
  border-radius: 50px !important;
  border: 1px solid #CCC !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.card-buttons .filter {
  display: flex;
  gap: 8px;
  align-items: center;
}
.card-buttons .filter * {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  line-height: 140%;
}
.card-buttons .custom-navigation-buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card-buttons .custom-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.card-buttons button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.card-buttons .current {
  border-radius: 100px;
  background: rgba(0, 131, 128, 0.1);
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #016392;
}

.disclaimer {
  color: #5A6673;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}

.table-mobile {
  display: none;
}

colgroup col:first-child, colgroup col:nth-child(2) {
  width: 15%;
}
colgroup col:nth-child(3), colgroup col:last-child {
  width: 35%;
}

@media (max-width: 767.98px) {
  table * {
    font-size: 14px;
  }
  colgroup col {
    width: 30% !important;
  }
  colgroup col:nth-child(2) {
    width: 10% !important;
  }
  .card-buttons {
    flex-direction: column;
    gap: 16px;
  }
  .disclaimer {
    font-size: 16px;
  }
  .navbar {
    display: none;
  }
  main .container {
    margin-block: 40px;
  }
  main::before {
    content: none;
  }
  .section-header {
    flex-direction: column;
    gap: 8px;
  }
  .section-header img {
    width: 100%;
  }
  .section-header .section-title {
    font-size: 35px;
  }
  .section-header .section-subtitle {
    font-size: 28px;
  }
  .footer-logos .container {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */